body {
    background-color: aqua;
    color: white;
}
nav {
    text-align: center;
}
nav a{
    color: white;
    text-decoration: none;
}

div{
    text-align: center;
}
div img{
    height: 80vw;
    width: 80vh;
}
